@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url("img/6To8.png");
    background-size: cover;

}

.toggle {
    background: rgba(254, 254, 254, 0.2);
    padding: 5px;
    margin: 10px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 12.5px;
    box-shadow: 0 1px 12.5px rgba(22, 21, 22, 0.7);
}

.separator {
    background-color: black;
    width: 3px;
    margin: 5px;
    border-radius: 12.5px;
}

.selector {
    background: none;
    border: none;
    border-radius: 12.5px;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 1.5em;
}

.selector:hover {
    background: rgba(254, 254, 254, 0.2);
}

#digital {
    display: none;
}

.clock {
    position: relative;
    color: rgb(120, 117, 117);
    background: rgba(254, 254, 254, 0.2);
    width: 350px;
    height: 350px;
    padding: 25px 45px;
    box-shadow: 0 5px 25px rgba(22, 21, 22, 0.7);
    border-radius: 1000%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.time {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.hours, .colon, .minutes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    padding: 0 5px;
}

.hours, .minutes {
    font-size: 6em;
    width: 125px;
}

.colon {
    transform: translateX(4px);
    font-size: 4.5em;
    background: -webkit-linear-gradient(45deg, rgb(55, 55, 56), rgb(27, 29, 31));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.extras {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    flex-direction: column;
}

.hours {
    background: -webkit-linear-gradient(45deg, rgb(55, 55, 56), rgb(27, 29, 31));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.minutes {
    background: -webkit-linear-gradient(45deg, rgb(55, 55, 56), rgb(27, 29, 31));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.period {
    font-size: 1.0em;
    font-weight: 600;
    transform: translateY(-40px);
    background: -webkit-linear-gradient(45deg, rgb(55, 55, 56), rgb(27, 29, 31));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.seconds {
    position: absolute;
    font-size: 1.8em;
    font-weight: 600;
    transform: translateY(25px);
    background: -webkit-linear-gradient(45deg, rgb(55, 55, 56), rgb(27, 29, 31));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.calender {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.1em;
    margin-bottom: 5px;
    background: -webkit-linear-gradient(45deg, rgb(55, 55, 56), rgb(27, 29, 31));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.date, .month, .year, .div, .day {
    margin-left: 7px;
}

#analog {
    display: flex;
}

.center {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 75px;
    background: -webkit-linear-gradient(45deg, rgba(55, 55, 56, 0.4), rgba(27, 29, 31, 0.4));
    border-radius: 50%;
    box-shadow: 0 1px 12.5px rgba(22, 21, 22, 0.7);
    z-index: 1;
}

.deer {
    fill: -webkit-linear-gradient(45deg, rgb(55, 55, 56), rgb(27, 29, 31));;
}

.hour-hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 10px;
    height: 200px;
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(27, 29, 31, 1) 50%);
    border-radius: 25px;
    rotate: 0deg;
    z-index: -2;
}

.minute-hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 6px;
    height: 300px;
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgba(27, 29, 31, 1) 50%);
    border-radius: 25px;
    rotate: 0deg;
    z-index: -1;
}

.second-hand {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 1s;
    width: 2px;
    height: 280px;
    background: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 50%, rgb(207, 26, 26) 50%);
    border-radius: 2.5px;
    rotate: 0deg;
    z-index: 0;
}

